export CMAKE_EXPORT_COMPILE_COMMANDS=YES
export CPM_USE_LOCAL_PACKAGES=YES
export CPM_SOURCE_CACHE="${HOME}/.cache/CPM"

export PATH="/usr/local/opt/llvm/bin:$PATH"
export CXX=`which clang++-17`
export CC=`which clang-17`

