#
# usage: pip install --upgrade -r requirements.txt
#
PyYAML
Pygments
black
builddriver
cmake-init>=0.41.1
cmake>=4.2.1
codespell>=2.4.1
conan>=2.24.0
gcovr>=8.6
gersemi>=0.25.1
isort
jinja2>=3.1.3
ninja>=1.13.0
pre-commit>=4.5.1
pylint
yamllint
